image: "{{ cli_image + '_' + project + '_' + repo_name }}"
{% if os_name == 'linux' %}
extra_hosts:
  - "host.docker.internal:{{ le_net_gw }}"
{% endif %}
volumes:
  - '{{ source_dir }}:/app'
{% if configs %}
  - {{ config_dir }}:{{ config_dir }}
{% endif %}
{% if  cache_dir is defined %}
  - {{ cache_dir }}
{% endif %}
command: ["/usr/bin/supervisord", "-c", "/etc/supervisor/supervisord.conf"]
depends_on:
  - {{ project_id }}-cli
