docker-wrapper-deploy   :=docker run --rm -v '/var/run/docker.sock:/var/run/docker.sock' -v '{{ work_dir }}:{{ work_dir }}' -e 'WORK_DIR={{ work_dir  }}'{% if  cache_dir is defined %} -v '{{ cache_dir }}' {% endif %} -v '{{ home_dir }}/.ssh:{{ home_dir }}/.ssh'
is-localdev := $(wildcard {{ sources_dir + '/localenv-dev' }})
ifneq ($(strip $(is-localdev)),)
docker-wrapper-deploy +=-v '{{ sources_dir}}/localenv-dev:/ansible'
endif
ifdef SSH_AUTH_SOCK
docker-wrapper-deploy +=-e SSH_AUTH_SOCK=/run/host-services/ssh-auth.sock -v '/run/host-services/ssh-auth.sock:/run/host-services/ssh-auth.sock'
endif

docker-wrapper-deploy +=localenv

{% for project_file in lookup('fileglob',work_dir + '/projects/*.yml',wantlist=True) %}
{% set project_data  = lookup('file',project_file)|from_yaml %}
{% set project       = project_file|basename|regex_replace('\\.yml','') %}
{% for repo_name in project_data.keys() if project_data[repo_name] is mapping %}
{% set project_id  = project + '-' + repo_name %}
{% set infra_dir   = infras_dir + '/' + project_id %}
deploy-{{ project_id }}:
	@mkdir -p {{ infra_dir }}
	@$(docker-wrapper-deploy) ansible-playbook -i inventory localenv.yml --extra-vars='project={{ project }} repo_name={{ repo_name }}'
	@make -C {{ infra_dir }} {{ project_id }}-bootstrap
-include {{ infra_dir }}/Makefile
{% endfor %}
{% endfor %}
